exportPattern("^[[:alpha:]]+")
export(detrendTS)
export(interpolateTS)
export(keepSignifDig)
export(plotCollEvents2D)
export(selCollEvents)
export(trackCollEvents)
import(data.table)
importFrom(Rcpp,sourceCpp)
importFrom(stats,lm)
importFrom(stats,predict.lm)
importFrom(stats,runmed)
useDynLib("ARCOS")
